<div class="details">
    <div class="top">
        <div class="left">
            <div class="image"><img src="/public/images/weather/<%=details.icon%>.png" alt="<%=details.icon_alt%>"></div>
            <div class="temperature"><%=details.temp%>°</div>
        </div>
        <div class="right">
            <div class="date"><%=details.date%></div>
            <div class="time"><%=details.time%></div>
            <div class="weather"><%=details.weather%></div>
        </div>
    </div>
    <div class="bottom">
        <div class="feels-like">Feels like: <%=details.feels_like%>°</div>
        <div class="humidity">Humidity: <%=details.humidity%>%</div>
        <div class="wind">Wind: <%=details.wind%> mph</div>
    </div>
</div>
